/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #E01A76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}


.containerPrincipal{
    position:absolute;
    left:50%;
    top:50%;
    transform:translate(-50%,-50%);
    border: 1px solid blue;
    padding: 40px;
    background-color: white;
}

.containerLogin{
    text-align:center;
}